In [1]:
import pandas as pd
import numpy as np

In [2]:
#Printing Horizontally
l = [1,2,3,4,5]
for i in l:
    print(i, end=' ')

1 2 3 4 5

In [3]:
print('16','02','2024',sep='/')

16/02/2024

In [4]:
#Merging Dictionaries
d1 = {'A':10,'B':20,'C':30}
d2 = {'X':100,'Y':200}
final_dict = d1 | d2
print(final_dict)

{'A': 10, 'B': 20, 'C': 30, 'X': 100, 'Y': 200}

In [5]:
final_dict1 = {**d1,**d2}
print(final_dict1)

{'A': 10, 'B': 20, 'C': 30, 'X': 100, 'Y': 200}

In [6]:
#Calendar with Python
import calendar
month = calendar.month(2024,2)
print(month)

   February 2024
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29

In [7]:
leap_year_chk = calendar.isleap(2024)
print(leap_year_chk)

True

In [8]:
#Get Current Time and Date
from datetime import datetime
time_now = datetime.now().strftime('%H:%M:%S')
print(f'The time now is {time_now}')

The time now is 09:08:07

In [9]:
from datetime import date
today_date = date.today()
print(today_date)

2024-02-26

In [10]:
#Sort a List in Descending Order
list1 = [20, 51, 36, 18, 1, 80, 49, 11]
list1.sort(reverse=True)
print(list1)

[80, 51, 49, 36, 20, 18, 11, 1]

In [11]:
#Swapping Variables
x, y = 100, 200
x, y = y, x
print('x=',x,'y=',y)

x= 200 y= 100

In [12]:
x = 10
y = 20
x ^= y
y ^= x
x ^= y
print('x=',x,'y=',y)

x= 20 y= 10

In [13]:
#Counting Item Occurrences
from collections import Counter
list2 = ['A','B','C','A','A','D']
count_A = Counter(list2).get('A')
print(f'A appears {count_A} times')

A appears 3 times

In [14]:
#Flatten a Nested List
list3 = [[1,2,3],[4,5,6]]
new_list1=[]
for i in list3:
    for j in i:
        new_list1.append(j)
print(new_list1)

#using itertools
import itertools
flat_list = list(itertools.chain.from_iterable(list3))
print(flat_list)

#Using list comprehension
fl_list = [i for j in list3 for i in j]
print(fl_list)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [15]:
#Index of the Biggest Number
x = [12, 45, 67, 89, 34, 67, 13]
x_max = max(enumerate(x, start=0),key = lambda x : x[1])
print(f'Index of Biggest number :{x_max[0]}')
x_min = min(enumerate(x, start=0),key = lambda x : x[1])
print(f'Index of Smallest number :{x_min[0]}')

Index of Biggest number :3
Index of Smallest number :0

In [16]:
#Absolute Value of a Number
list1 = [-12, -45, -67, -89, -34, 67, -13]
print([abs(num) for num in list1])

complex_num = 7+8j
print(abs(complex_num))

[12, 45, 67, 89, 34, 67, 13]
10.63014581273465

In [17]:
#Adding a Thousand Separator
a = [10989767, 9876780, 9908763]
new_list = ['{:,}'.format(num) for num in a]
print(new_list)

new_list1 = [f'{num:_}' for num in a]
print(new_list1)

['10,989,767', '9,876,780', '9,908,763']
['10_989_767', '9_876_780', '9_908_763']

In [18]:
#Startswith and Endswith Methods
list1 = ['lemon','Orange','apple', 'apricot']
new_list2 = [i for i in list1 if i.startswith('a')]
print(new_list2)
new_list3 = [i for i in list1 if i.endswith('e')]
print(new_list3)

['apple', 'apricot']
['Orange', 'apple']

In [19]:
#Nlargest and Nsmallest
def sort_list(arr: list):
    a = sorted(arr,reverse=True)
    return a[:5]
x = [12, 34, 67, 98, 90, 68, 55, 54, 64, 35]
print(sort_list(x))

import heapq
print(f'Nth Largest :{heapq.nlargest(5,x)}')

print(f'Nth smallest :{heapq.nsmallest(5,x)}')

[98, 90, 68, 67, 64]
Nth Largest :[98, 90, 68, 67, 64]
Nth smallest :[12, 34, 35, 54, 55]

In [20]:
#Checking for Anagram
from collections import Counter
a = 'lost'
b = 'stol'
print((Counter(a) == Counter(b)))

if (sorted(a) == sorted(b)):
    print('Anagram')
else:
    print('Not Anagram')

True
Anagram

In [21]:
print(help('keywords'))

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

None

In [22]:
a = 'I love Python'
print(dir('a'))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [23]:
print(dir('collections'))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [24]:
#Open a Website Using Python
import webbrowser
url_name = 'http://www.google.com'
open_url = webbrowser.open(url_name)
# This opens a new tab in your browser
webbrowser.open_new_tab(url)
# This opens a new browser window
webbrowser.open_new(website)
print(open_url)

NameError: name 'url' is not defined

In [25]:
#Most Frequent in a String
a = 'malayalam'
s_max = max(a,key = a.count)
print(s_max)

a

In [26]:
import collections
a1 = 'malayalam'
s_max1 = collections.Counter(a1).most_common(1)
print(s_max1)

[('a', 4)]

In [27]:
#Memory Size Check
import sys
a = ['Love', 'Cold', 'Hot', 'Python']
b = {'Love', 'Cold', 'Hot', 'Python'}
c = ('Love', 'Cold', 'Hot', 'Python')
print(f'The memory size of a list is 'f'{sys.getsizeof(a)} ')
print(f'The memory size of a set is 'f'{sys.getsizeof(b)} ')
print(f'The memory size of a tuple is 'f'{sys.getsizeof(c)} ')

The memory size of a list is 88
The memory size of a set is 216
The memory size of a tuple is 72

In [28]:
#Accessing Dictionary Keys
dict1 = {'name': 'Ram', 'age': 22,'student':True,'Country': 'India'}
print(dict1.keys())
print(sorted(dict1))

dict_keys(['name', 'age', 'student', 'Country'])
['Country', 'age', 'name', 'student']

In [29]:
#Iterable or Not
arr = ['i', 'love', 'working', 'with', 'Python']
try:
    iter_test = iter(arr)
except:
    print('Object not iterable')
else:
    print('Object iterable')
    
k = 100
try:
    iter_test_100 = iter(k)
except:
    print('Object not iterable')
else:
    print('Object iterable')

Object iterable
Object not iterable

In [30]:
#Sorting a List of Tuples
from operator import itemgetter
names = [('Ben','Jones'),('Peter','Parker'),('Kelly','Isa')]
print(f'Sorting by First Name:{sorted(names,key=itemgetter(0))}')
print(f'Sorting by Last Name:{sorted(names,key=itemgetter(1))}')
print(f'Sorting by First & Last Name:{sorted(names,key=itemgetter(0,1))}')

Sorting by First Name:[('Ben', 'Jones'), ('Kelly', 'Isa'), ('Peter', 'Parker')]
Sorting by Last Name:[('Kelly', 'Isa'), ('Ben', 'Jones'), ('Peter', 'Parker')]
Sorting by First & Last Name:[('Ben', 'Jones'), ('Kelly', 'Isa'), ('Peter', 'Parker')]

In [31]:
#Sort List with Sorted & Lambda
list1 = ['Mary', 'Peter', 'Kelly']
a = lambda x:x[-1]
print(f'Reverse Sort:{sorted(list1,key=a)}')
b = lambda x:x[1]
print(f'Sort:{sorted(list1,key=b)}')

Reverse Sort:['Peter', 'Mary', 'Kelly']
Sort:['Mary', 'Peter', 'Kelly']

In [32]:
#A List of Tuples with Enumerate
days = ["Sunday", "Monday", "Tuesday", "Wednesday","Thursday", "Friday", "Saturday"]
day_tup = list(enumerate(days,start=1))
print(day_tup)

[(1, 'Sunday'), (2, 'Monday'), (3, 'Tuesday'), (4, 'Wednesday'), (5, 'Thursday'), (6, 'Friday'), (7, 'Saturday')]

In [33]:
#Assertion
name = ["Jon","kelly", "kess", "PETR", 4]
lower_names=[]
for n in name:
    assert type(n) == str,'non-string items in the list'
    if n.islower():
        lower_names.append(n)
        
print(lower_names)

AssertionError: non-string items in the list

In [34]:
#Print Colored Texts
class Colors():
    Black = '\033[30m'
    Green = '\033[32m'
    Blue = '\033[34m'
    Magenta = '\033[35m'
    Red = '\033[31m'
    Cyan = '\033[36m'
    White = '\033[37m'
    Yellow = '\033[33m'
print(f'{Colors.Red} Warning: {Colors.Green} 'f'Love Don\'t live here anymore')

 Warning:  Love Don't live here anymore

In [35]:
#Find Index Using Enumerate
str1 = 'girish'
for index,value in enumerate(str1):
    if value == 's':
        print(f'index of s is :{index}')

index of s is :4

In [36]:
#reverse string 
str100 = 'malayalam'
str200 = str100[::-1]
print(str200)
paliandrome = str100 == str100[::-1]
print('String is a Paliandrom') if paliandrome == True else print('String is NOT a Paliandrom')

malayalam
String is a Paliandrom

In [37]:
import yfinance as yf
from datetime import datetime
orcl = yf.Ticker('ORCL')
end_date = datetime.now().strftime('%Y-%m-%d')
orcl_hist = orcl.history(start='2023-01-01',end=end_date)
orcl_hist.tail(5)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-02-16 00:00:00-05:00,113.019997,113.110001,111.250000,111.309998,8931100,0.0,0.0
2024-02-20 00:00:00-05:00,110.540001,110.769997,107.680000,108.449997,10975600,0.0,0.0
2024-02-21 00:00:00-05:00,106.760002,108.379997,106.510002,108.160004,7867600,0.0,0.0
2024-02-22 00:00:00-05:00,111.489998,111.889999,109.660004,111.010002,8957800,0.0,0.0
2024-02-23 00:00:00-05:00,112.000000,113.370003,111.709999,111.949997,7504000,0.0,0.0

In [38]:
#Checking if a String is Empty
str2 = ''
print('String is empty') if not str2 else print('String is NOT empty')

str3 = 'bangalore'
print('String is empty') if not str3 else print('String is NOT empty')

String is empty
String is NOT empty

In [40]:
#Flatten Nested List
lst = [[1,2,3],[4,5,6]]
n_lst = sum(lst,[])
print(n_lst)

[1, 2, 3, 4, 5, 6]

In [41]:
#Using reduce function
from functools import reduce
lst1 = [[1,2,3],[4,5,6]]
new_lst1 = reduce(lambda x,y:x+y,lst1)
print(new_lst1)

[1, 2, 3, 4, 5, 6]

In [42]:
#Checking if a File Exists
import os
os.remove('test_file.txt')

FileNotFoundError: [WinError 2] The system cannot find the file specified: 'test_file.txt'

In [43]:
import os.path
file = os.path.exists('test_file.txt')
if file:
    os.remove('test_file.txt')
else:
    print('File does not exists')

File does not exists

In [44]:
#Set Comprehension
list1 = ['LOVE', 'HATE', 'WAR', 'PEACE', 'PEACE']
set1 = {word.lower() for word in list1}
print(set1)

arr = [10, 23, 30, 30, 40, 45, 50]
new_set = {num for num in arr if num % 2 == 0 }
print(new_set)

{'war', 'peace', 'love', 'hate'}
{40, 10, 50, 30}

In [45]:
#Python *args and **Kwargs

def test_args(*args):
    avg =  sum(args)/len(args)
    return f'Average : {avg}'

print(test_args(10,20,30))
print(test_args(10,20,30,100,400))

Average : 20.0
Average : 112.0

In [46]:
#The Filter Function
names = ['Derick', 'John', 'moses', 'linda']
op1 = list(filter(lambda x:x.islower(),names))
print(op1)

def fn_lower(n: str):
    return n.islower()
lower1 = list(filter(fn_lower,names))
print(lower1)

['moses', 'linda']
['moses', 'linda']

In [47]:
#Dictionary Comprehension
dict1 = {'Grade': 70, 'Weight': 45, 'Width': 89}
d2 = {k:v for (k,v) in dict1.items()}
print(d2)

{'Grade': 70, 'Weight': 45, 'Width': 89}

In [48]:
list1 = ['Tesla', 'Ford', 'Fiat']
models = ['X', 'Focus', 'Doblo']
df = pd.DataFrame(list(zip(list1,models)),index=[1,2,3],columns=['Brands','Models'])
df

  Brands Models
1  Tesla      X
2   Ford  Focus
3   Fiat  Doblo

In [49]:
#Writing to File
names = ['John Kelly', 'Moses Nkosi', 'Joseph Marley']

with open('names.csv','w') as file:
    for names in names:
        file.write(names)
        file.write('\n')
        
with open('names.csv','r') as file:
    print(file.read())

John Kelly
Moses Nkosi
Joseph Marley

In [50]:
import this
print(this)

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!
<module 'this' from 'C:\\anaconda\\anaconda3\\Lib\\this.py'>

In [51]:
#Difference Between Two Lists
a = [9, 3, 6, 7, 8, 4]
b = [9, 3, 7, 5, 2, 1]
print(set(a).difference(set(b)))

{8, 4, 6}

In [52]:
#Sorting a List of Dictionaries
from operator import itemgetter
d = [{"school":"yale", "city": "Beijing"},{"school":"cat", "city": "Cairo"}]
sorted_list = sorted(d,key=itemgetter('school','city'))
print(sorted_list)
reverse_sorted_list = sorted(d,key=itemgetter('school','city'),reverse=True)
print(reverse_sorted_list)

[{'school': 'cat', 'city': 'Cairo'}, {'school': 'yale', 'city': 'Beijing'}]
[{'school': 'yale', 'city': 'Beijing'}, {'school': 'cat', 'city': 'Cairo'}]

In [53]:
#The _iter_() Function
names = ['jake', "Mpho", 'Peter']
iter_objs = iter(names)
name1 = next(iter_objs)
print(name1)
name2 = next(iter_objs)
print(name2)
name3 = next(iter_objs)
print(name3)

jake
Mpho
Peter

In [54]:
#Two Lists into a Dict
list1 = ['name', 'age', 'country']
list2 = ['Yoko', 60, 'Angola']
dict1 = dict(zip(list1,list2))
print(dict1)
print(list(zip(list1,list2)))

{'name': 'Yoko', 'age': 60, 'country': 'Angola'}
[('name', 'Yoko'), ('age', 60), ('country', 'Angola')]

In [55]:
#Finding Permutations of a string
from itertools import permutations
def get_perms(s:str):
        arr = []
        for i in permutations(s):
            arr.append(i)
        return arr;
print(get_perms('ABC'))

[('A', 'B', 'C'), ('A', 'C', 'B'), ('B', 'A', 'C'), ('B', 'C', 'A'), ('C', 'A', 'B'), ('C', 'B', 'A')]

In [56]:
#Unpacking a List
names = [ 'John', 'Mary', 'Lisa’, ‘Rose']
boy, *girls = names
print(boy)
print(girls)

John
['Mary', 'Lisa’, ‘Rose']

In [57]:
#File Location
import os
dir_path = os.getcwd()
print(dir_path)

C:\Users\GJAHAGIR

In [58]:
#Python Deque
from collections import deque
a = deque([20,30])
a.appendleft(10)
a.append(40)
print(a)
a.pop()
print(a)

deque([10, 20, 30, 40])
deque([10, 20, 30])

In [59]:
#Python ChainMap
from collections import ChainMap
d1 = {'name':'girish','job':'engineer'}
d2 = {'name':'satish','job':'farmer'}
d3 = {'name':'anagha','job':'engineer student'}
final_d = ChainMap(d1,d2,d3)
print(final_d)
print(list((final_d.keys())))
print(list((final_d.values())))

ChainMap({'name': 'girish', 'job': 'engineer'}, {'name': 'satish', 'job': 'farmer'}, {'name': 'anagha', 'job': 'engineer student'})
['name', 'job']
['girish', 'engineer']

In [60]:
#Python progress bar
from tqdm import tqdm
import time
for i in tqdm(range(100000)):
    pass
time.sleep(0.001)

100%|██████████| 100000/100000 [00:00<00:00, 2570716.55it/s]

In [61]:
for i in tqdm(range(100000), desc='progress'):
    pass
    time.sleep(0.001)

progress: 100%|██████████| 100000/100000 [02:02<00:00, 817.48it/s]

In [65]:
#Return Multiple Function Values
def vals():
    return 1,2,3
print(vals())  #returns a tuple
x,y,z = vals()
print(x)
print(y)
print(z)

(1, 2, 3)
1
2
3

In [66]:
s = 'I LOVE PYTHON PROGRAMMING'
str1 = list(map(str,s.split()))
print(str1)

list1 = ['I','love','Python']
str2 = ' '.join(map(str,list1 ))
print(str2)

['I', 'LOVE', 'PYTHON', 'PROGRAMMING']
I love Python

In [67]:
#Loop Over Multiple Sequences
first_names = ['George','Keith', 'Art']
last_names = ['Luke', 'Sweat','Funnel']
for f, l in zip(first_names,last_names):
    print(f,l)

George Luke
Keith Sweat
Art Funnel

In [68]:
numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]
numbers1.append(numbers2)
print(numbers1)
numbers3 = [10, 20, 30]
numbers4 = [40, 50, 60]
numbers3.extend(numbers4)
print(numbers3)

[1, 2, 3, [4, 5, 6]]
[10, 20, 30, 40, 50, 60]

In [69]:
from functools import reduce
num = 9
fout = reduce(lambda a,b : a*b,range(1,num+1))
print(fout)

362880

In [72]:
def check_list(arr):
    return all(arr[0] ==  arr[i] for i in arr)
print(check_list([1,2,3]))

False

In [75]:
def check_monotonic(arr):
    if all(arr[i] >= arr[i+1] for i in range(len(arr)-1)):
        return True
    if all(arr[i] <= arr[i+1] for i in range(len(arr)-1)):
        return True
    else:
        return False
print(check_monotonic([2,2,4,5,6]))
print(check_monotonic([10,9,8,7]))
print(check_monotonic([10,1,23,67,3]))

True
True
False

In [77]:
#Find Factors of a Number
def num_factors(n):
    for i in range(1,n+1):
        if n%i == 0:
            print(i)
num_factors(10)

1
2
5
10