In [1]:
person={
    "first":"Girish",
    "last":"Jahagirdar",
    "email":"girish@email.com"
}

In [2]:
people={
     "first":["Girish"],
    "last":["Jahagirdar"],
    "email":["girish@email.com"]
}

In [3]:
people={
     "first":["Girish","Anagha","Soumya"],
    "last":["Jahagirdar","Jahagirdar","Jahagirdar"],
    "email":["girish@email.com","anagha@email.com","soumya@email.com"]
}

In [4]:
people["email"]

['girish@email.com', 'anagha@email.com', 'soumya@email.com']

In [5]:
import pandas as pd

In [6]:
people = pd.DataFrame(people)
people

    first        last             email
0  Girish  Jahagirdar  girish@email.com
1  Anagha  Jahagirdar  anagha@email.com
2  Soumya  Jahagirdar  soumya@email.com

In [7]:
people['email']

0    girish@email.com
1    anagha@email.com
2    soumya@email.com
Name: email, dtype: object

In [8]:
people[["last","email"]]

         last             email
0  Jahagirdar  girish@email.com
1  Jahagirdar  anagha@email.com
2  Jahagirdar  soumya@email.com

In [9]:
people.columns

Index(['first', 'last', 'email'], dtype='object')

In [10]:
people.iloc[[0,1],2]

0    girish@email.com
1    anagha@email.com
Name: email, dtype: object

In [11]:
people.loc[[0,1],["first","email"]]

    first             email
0  Girish  girish@email.com
1  Anagha  anagha@email.com

In [26]:
df = pd.DataFrame(people)
df

    first        last             email
0  Girish  Jahagirdar  girish@email.com
1  Anagha  Jahagirdar  anagha@email.com
2  Soumya  Jahagirdar  soumya@email.com

In [13]:
df.set_index("email",inplace=True)

In [14]:
df

                   first        last
email
girish@email.com  Girish  Jahagirdar
anagha@email.com  Anagha  Jahagirdar
soumya@email.com  Soumya  Jahagirdar

In [15]:
df.index

Index(['girish@email.com', 'anagha@email.com', 'soumya@email.com'], dtype='object', name='email')

In [16]:
df.loc['girish@email.com','first']

'Girish'

In [17]:
df.iloc[0]

first        Girish
last     Jahagirdar
Name: girish@email.com, dtype: object

In [18]:
df.reset_index(inplace=True)

In [19]:
df

              email   first        last
0  girish@email.com  Girish  Jahagirdar
1  anagha@email.com  Anagha  Jahagirdar
2  soumya@email.com  Soumya  Jahagirdar

In [27]:
filt = (df['last'] == 'Jahagirdar') | (df['first'] == 'Girish')

In [28]:
df.loc[~filt,'email']

Series([], Name: email, dtype: object)

In [31]:
df.columns = ['first_name','last_name','email_id']
df

  first_name   last_name          email_id
0     Girish  Jahagirdar  girish@email.com
1     Anagha  Jahagirdar  anagha@email.com
2     Soumya  Jahagirdar  soumya@email.com

In [33]:
df.columns = [x.upper() for x in df.columns]
df

  FIRST_NAME   LAST_NAME          EMAIL_ID
0     Girish  Jahagirdar  girish@email.com
1     Anagha  Jahagirdar  anagha@email.com
2     Soumya  Jahagirdar  soumya@email.com