In [1]:
import pandas as pd
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [2]:
df = pd.read_csv('E:\\Python\\PythonProgrammes\\stack-overflow-developer-survey-2022\\survey_results_public1.csv')
df.head(5)

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada,CAD\tCanadian dollar,NaN,NaN,JavaScript;TypeScript,Rust;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,macOS,Windows Subsystem for Linux (WSL),Git,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,Daily or almost daily,Not sure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,I have some influence,NaN,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,Angular.js,Angular;Angular.js,Pandas,.NET,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams,Microsoft Teams,Very unfavorable,Collectives on Stack Overflow;Stack Overflow;S...,Multiple times per day,Yes,Multiple times per day,Neutral,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,17,"Developer, full-stack",100 to 499 employees,I have some influence,Other (please specify):,Israel,ILS\tIsraeli new shekel,60000.0,Monthly,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,.NET,.NET,NaN,NaN,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Jira Work Management;Trello,Jira Work Management;Trello,Slack;Zoom,Slack;Zoom,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,A few times per week,"Yes, definitely",35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,3,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,I have some influence,Start a free trial;Visit developer communities...,United States of America,USD\tUnited States dollar,NaN,NaN,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Firebase;Microsoft Azure,Firebase;Microsoft Azure,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,.NET,.NET;Apache Kafka,npm,Docker;Kubernetes,Notepad++;Visual Studio;Visual Studio Code;Xcode,Rider;Visual Studio;Visual Studio Code,Windows,macOS;Windows,Git;Other (please specify):,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,NaN,Unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN

In [3]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'BuyNewTool', 'Country', 'Currency',
       'CompTotal', 'CompFreq', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysProfessional use',
       'OpSysPersonal use', 'VersionControlSystem', 'VCInteraction',
       'VCHostingPersonal use', 'VCHostingProfessional use',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith',
       'Blockchain', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'Age', 'Gender', 'Trans', 'Sexuality', 'Ethnicity',
       'Accessibility', 'MentalHealth', 'TBranch', 'ICorPM', 'WorkExp',
       'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Frequency_1',
       'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering',
       'Onboarding', 'ProfessionalTech', 'TrueFalse_1', 'TrueFalse_2',
       'TrueFalse_3', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [4]:
df['ConvertedCompYearly'].head(10)

0         NaN
1         NaN
2     40205.0
3    215232.0
4         NaN
5         NaN
6         NaN
7         NaN
8     49056.0
9         NaN
Name: ConvertedCompYearly, dtype: float64

In [5]:
df['CompTotal'].median()

77500.0

In [6]:
df.describe()

,ResponseId,CompTotal,VCHostingPersonal use,VCHostingProfessional use,WorkExp,ConvertedCompYearly
count,73268.000000,3.842200e+04,0.0,0.0,36769.000000,3.807100e+04
mean,36634.500000,2.342434e+52,NaN,NaN,10.242378,1.707613e+05
std,21150.794099,4.591478e+54,NaN,NaN,8.706850,7.814132e+05
min,1.000000,0.000000e+00,NaN,NaN,0.000000,1.000000e+00
25%,18317.750000,3.000000e+04,NaN,NaN,4.000000,3.583200e+04
50%,36634.500000,7.750000e+04,NaN,NaN,8.000000,6.784500e+04
75%,54951.250000,1.540000e+05,NaN,NaN,15.000000,1.200000e+05
max,73268.000000,9.000000e+56,NaN,NaN,50.000000,5.000000e+07

In [7]:
df['CompTotal'].count()

38422

In [8]:
df['RemoteWork'].value_counts()

Fully remote                            25341
Hybrid (some remote, some in-person)    25021
Full in-person                           8596
Name: RemoteWork, dtype: int64

In [9]:
df['DatabaseHaveWorkedWith'].value_counts(normalize=True).head(10)

MySQL                   0.059264
PostgreSQL              0.058532
Microsoft SQL Server    0.053858
SQLite                  0.033632
MongoDB                 0.027528
PostgreSQL;SQLite       0.018679
MySQL;SQLite            0.017049
MySQL;PostgreSQL        0.016600
MongoDB;MySQL           0.016467
PostgreSQL;Redis        0.016300
Name: DatabaseHaveWorkedWith, dtype: float64

In [10]:
df['DatabaseWantToWorkWith'].value_counts(normalize=True).head(10)

PostgreSQL                 0.078292
Microsoft SQL Server       0.039695
MongoDB                    0.036265
MySQL                      0.035402
SQLite                     0.030031
PostgreSQL;Redis           0.028835
PostgreSQL;SQLite          0.026699
MongoDB;PostgreSQL         0.016741
PostgreSQL;Redis;SQLite    0.013585
MongoDB;MySQL              0.013192
Name: DatabaseWantToWorkWith, dtype: float64

In [11]:
df['LanguageHaveWorkedWith'].value_counts(normalize=True).head(10)

HTML/CSS;JavaScript;TypeScript           0.017612
Python                                   0.013554
HTML/CSS;JavaScript                      0.012878
HTML/CSS;JavaScript;PHP;SQL              0.010497
C#;HTML/CSS;JavaScript;SQL;TypeScript    0.008031
C#                                       0.007622
Java                                     0.007566
C#;HTML/CSS;JavaScript;SQL               0.007327
HTML/CSS;JavaScript;Python               0.006791
JavaScript;TypeScript                    0.006749
Name: LanguageHaveWorkedWith, dtype: float64

In [12]:
df['LanguageWantToWorkWith'].value_counts(normalize=True).head(10)

Python                                   0.015233
HTML/CSS;JavaScript;TypeScript           0.014099
Rust                                     0.012308
C#                                       0.008474
Go                                       0.007385
Java                                     0.006147
JavaScript;TypeScript                    0.005998
HTML/CSS;JavaScript                      0.005744
C#;HTML/CSS;JavaScript;SQL;TypeScript    0.005714
Kotlin                                   0.005431
Name: LanguageWantToWorkWith, dtype: float64

In [13]:
df['Country'].value_counts().head(10)

United States of America                                13543
India                                                    6639
Germany                                                  5395
United Kingdom of Great Britain and Northern Ireland     4190
Canada                                                   2490
France                                                   2328
Brazil                                                   2109
Poland                                                   1732
Netherlands                                              1555
Spain                                                    1521
Name: Country, dtype: int64

In [14]:
country_group = df.groupby(['Country'])

In [15]:
country_group.get_group('India').head()

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
6,7,I code primarily as a hobby,"Student, part-time",NaN,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses,NaN,3,NaN,NaN,NaN,NaN,Start a free trial;Visit developer communities...,India,NaN,NaN,NaN,C++;HTML/CSS;JavaScript;PHP;Python;TypeScript,C;C#;C++;Elixir;Go;HTML/CSS;Java;JavaScript;Ko...,Cloud Firestore;MongoDB;Firebase Realtime Data...,MySQL;Oracle;PostgreSQL,NaN,NaN,Angular;Next.js;Node.js;React.js;Svelte;Vue.js,Django;Flask;Gatsby;jQuery;Next.js;Node.js;Rea...,NaN,NaN,Homebrew;npm,npm,Atom;IntelliJ;Notepad++;PyCharm;Sublime Text;V...,Visual Studio Code;Webstorm,macOS,macOS,Git,Code editor;Command-line,NaN,NaN,NaN,NaN,Google Chat;Microsoft Teams;Slack;Zoom,Google Chat;Slack;Zoom,Favorable,Stack Overflow,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",Under 18 years old,Man,No,NaN,Indian,None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
7,8,I am a developer by profession,"Not employed, but looking for work",NaN,NaN,Some college/university study without earning ...,Online Courses or Certification,NaN,Coursera;Udemy,1,NaN,"Developer, full-stack;Student",NaN,NaN,Start a free trial,India,NaN,NaN,NaN,C;C++;HTML/CSS;Java;JavaScript;SQL,APL;Bash/Shell;Go;Python;TypeScript,MongoDB;MySQL,Neo4j;PostgreSQL,AWS;Google Cloud;Heroku,DigitalOcean;Firebase;Microsoft Azure;VMware,jQuery;Node.js,Angular;Angular.js;Next.js;Vue.js,NaN,NaN,npm,Unity 3D;Yarn,Atom;CLion;Eclipse;IntelliJ;Notepad++;Visual S...,Android Studio;IPython/Jupyter;Sublime Text;Vi...,Linux-based;macOS,Windows,Git,Command-line,NaN,NaN,NaN,NaN,Google Chat;Microsoft Teams;Zoom,NaN,Very favorable,Collectives on Stack Overflow;Stack Overflow;S...,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"Yes, definitely",18-24 years old,Man,No,Straight / Heterosexual,Indian,None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
65,66,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Other (please specify):,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses;Inte...,Udemy,3,2,"Developer, back-end;DevOps specialist","10,000 or more employees",I have little or no influence,Start a free trial;Visit developer communities...,India,INR\tIndian rupee,NaN,Monthly,C#,C++;JavaScript,MongoDB;MySQL,NaN,NaN,NaN,NaN,NaN,.NET,.NET;React Native;TensorFlow,NaN,NaN,Eclipse;Notepad++;Sublime Text;Visual Studio;V...,Notepad++;Visual Studio;Visual Studio Code,Windows,Linux-based,Git,Code editor;Command-line,NaN,NaN,Jira Work Management,Jira Work Management,Cisco Webex Teams;Microsoft Teams;Zoom,Microsoft Teams,Unfavorable,Stack Overflow;Stack Exchange,Daily or almost daily,Not sure/can't remember,NaN,"Yes, somewhat",18-24 years old,Man,No,Straight / Heterosexual,Indian,None of the above,None of the above,Yes,Independent contributor,2.0,Strongly agree,Agree,Disagree,Agree,Agree,Agree,Agree,Never,1-2 times a week,3-5 times a week,30-60 minutes a day,15-30 minutes a day,Just right,Microservices;Continuous integration (CI) and ...,No,Yes,Yes,Too long,Easy,NaN
140,141,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Written Tutorials;Stac...,NaN,13,12,"Developer, front-end;Developer, full-stack;Des...","10,000 or more employees",I have a great deal of influence,Start a free trial;Visit developer communities...,India,INR\tIndian rupee,NaN,NaN,HTML/CSS;JavaScript;Kotlin;TypeScript,Groovy,Elasticsearch;PostgreSQL,MongoDB,NaN,NaN,Angular;Express;jQuery,React.js;Vue.js,Spring,React Native,Kubernetes;npm,Docker;Puppet,IntelliJ,Visual Studio Code;Webstorm,Windows,Windows,Git,Code editor,NaN,NaN,Confluence;Trello,Jira Work Management;Stack Overflow for Teams,Microsoft Teams;Symphony,Cisco Webex Teams,Indifferent,Stack Overflow,Daily or almost daily,Not sure/can't remember,NaN,"Yes, definitely",25-34 years old,Man,No,Straight / Heterosexual,Indian,None of the above,None of the above,Yes,Independent contributor,12.0,Agree,Disagree,Agree,Agree,Neither agree nor disagree,Agree,Agree,Never,1-2 times a week,Never,30-60 minutes a day,30-60 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,NaN
151,152,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;W...,Udemy;Pluralsight;Udacity,12,12,"Developer, full-stack;Data or business analyst","10,000 or more employees",I have some influence,Ask developers I know/work with;Research compa...,India,INR\tIndian rupee,100000.0,Monthly,Bash/Shell;HTML/CSS;Java;JavaScript;Python;SQL,Bash/Shell;HTML/CSS;Java;JavaScript;Python;SQL,Oracle;PostgreSQL;Redis;SQLite,Oracle;PostgreSQL;Redis;SQLite,Oracle Cloud Infrastructure,Oracle Cloud Infrastructure,Angular;Express;Flask;Next.js;Node.js;React.js,Angular;Express;Flask;Next.js;Node.js;React.js,NumPy;Pandas;Spring,NumPy;Pandas;Spring,Docker;Kubernetes;npm;Yarn,Docker;Kubernetes;npm;Yarn,Notepad++;Visual Studio Code,Notepad++;Visual Studio Code,Linux-based;Windows,Linux-based;Windows,Git;SVN,Command-line;Version control hosting service w...,NaN,NaN,Microsoft Lists,Microsoft Lists,Microsoft Teams,Microsoft Teams,Very favorable,Stack Overflow,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,Neutral,25-34 years old,Man,No,Straight / Heterosexual,Indian;Asian,None of the above,None of the above,Yes,People manager,12.0,Strongly agree,Disagree,Agree,Agree,Agree,Agree,Agree,Never,Never,Never,30-60 minutes a day,Less than 15 minutes a day,Somewhat long,None of these,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,15480.0

In [16]:
filt = df['Country'] == 'India'
df.loc[filt]['LanguageWantToWorkWith'].value_counts(normalize=True).head(5)

Python                            0.022404
HTML/CSS;JavaScript;TypeScript    0.018970
Java                              0.012428
HTML/CSS;JavaScript               0.011774
JavaScript                        0.010466
Name: LanguageWantToWorkWith, dtype: float64

In [17]:
filt = df['Country'] == 'United States of America'
df.loc[filt]['LanguageWantToWorkWith'].value_counts(normalize=True).head(5)

Rust                                     0.014995
Python                                   0.013170
HTML/CSS;JavaScript;TypeScript           0.010314
C#;HTML/CSS;JavaScript;SQL;TypeScript    0.007855
C#                                       0.007775
Name: LanguageWantToWorkWith, dtype: float64

In [18]:
country_group['LearnCodeCoursesCert'].value_counts(normalize=True).loc['India'].head(10)

LearnCodeCoursesCert
Udemy                         0.245450
Coursera;Udemy                0.121070
Other                         0.073359
Udemy;Other                   0.043574
Udemy;Pluralsight             0.040541
Coursera                      0.035301
Coursera;Udemy;edX            0.034473
Udemy;Codecademy              0.030888
Coursera;Udemy;Codecademy     0.024545
Coursera;Udemy;Pluralsight    0.023993
Name: LearnCodeCoursesCert, dtype: float64

In [19]:
country_group['CompTotal'].median().loc['India']

885000.0

In [20]:
country_group['ConvertedCompYearly'].agg(['min','max']).loc['India']

min          1.0
max    6577582.0
Name: India, dtype: float64

In [21]:
flt1 = df['Country'] == 'India'
df[flt1]['LanguageWantToWorkWith'].str.contains('Python').sum()

3094

In [22]:
country_uses_python  = country_group['LanguageWantToWorkWith'].apply(lambda x : x.str.contains('Python').sum())
country_uses_python

Country
Afghanistan                                               25
Albania                                                   16
Algeria                                                   20
Andorra                                                    4
Angola                                                     4
Antigua and Barbuda                                        0
Argentina                                                202
Armenia                                                   33
Australia                                                536
Austria                                                  292
Azerbaijan                                                25
Bahamas                                                    2
Bahrain                                                    6
Bangladesh                                               281
Barbados                                                   3
Belarus                                                   48
Belgium                                                  253
Belize                                                     2
Benin                                                      5
Bhutan                                                     2
Bolivia                                                   26
Bosnia and Herzegovina                                    39
Botswana                                                   3
Brazil                                                   823
Brunei Darussalam                                          1
Bulgaria                                                 124
Burkina Faso                                               1
Cambodia                                                  17
Cameroon                                                  19
Canada                                                  1000
Cape Verde                                                 3
Chad                                                       1
Chile                                                     91
China                                                    269
Colombia                                                 153
Congo, Republic of the...                                  5
Costa Rica                                                37
Croatia                                                   61
Cuba                                                      13
Cyprus                                                    24
Czech Republic                                           261
Côte d'Ivoire                                              6
Democratic Republic of the Congo                           5
Denmark                                                  168
Djibouti                                                   0
Dominican Republic                                        26
Ecuador                                                   40
Egypt                                                    170
El Salvador                                               20
Estonia                                                   47
Ethiopia                                                  33
Fiji                                                       1
Finland                                                  185
France                                                   962
Gabon                                                      1
Gambia                                                     0
Georgia                                                   30
Germany                                                 2212
Ghana                                                     47
Greece                                                   240
Guatemala                                                 27
Guinea                                                     4
Guyana                                                     3
Haiti                                                      3
Honduras                                                  10
Hong Kong (S.A.R.)                                        90
Hungary                                                  166
Iceland                                                   10
India                                                   3094
Indonesia                                                218
Iran, Islamic Republic of...                             315
Iraq                                                      17
Ireland                                                  131
Isle of Man                                                4
Israel                                                   393
Italy                                                    658
Jamaica                                                   14
Japan                                                    128
Jordan                                                    21
Kazakhstan                                                27
Kenya                                                    119
Kosovo                                                    10
Kuwait                                                     7
Kyrgyzstan                                                 5
Lao People's Democratic Republic                           5
Latvia                                                    33
Lebanon                                                   30
Lesotho                                                    1
Liberia                                                    1
Libyan Arab Jamahiriya                                     6
Lithuania                                                 60
Luxembourg                                                23
Madagascar                                                14
Malawi                                                     9
Malaysia                                                  75
Maldives                                                   4
Mali                                                       4
Malta                                                     16
Mauritania                                                 0
Mauritius                                                  9
Mexico                                                   286
Monaco                                                     1
Mongolia                                                   9
Montenegro                                                 5
Morocco                                                   95
Mozambique                                                 4
Myanmar                                                   18
Namibia                                                    1
Nepal                                                     90
Netherlands                                              572
New Zealand                                              150
Nicaragua                                                  6
Niger                                                      2
Nigeria                                                  245
Nomadic                                                   12
North Korea                                                1
Norway                                                   170
Oman                                                       8
Pakistan                                                 325
Palau                                                      0
Palestine                                                 16
Panama                                                    14
Papua New Guinea                                           1
Paraguay                                                  18
Peru                                                      64
Philippines                                              157
Poland                                                   651
Portugal                                                 205
Qatar                                                     12
Republic of Korea                                         29
Republic of Moldova                                       10
Romania                                                  215
Russian Federation                                       467
Rwanda                                                    13
Saint Kitts and Nevis                                      0
Saint Lucia                                                3
San Marino                                                 0
Saudi Arabia                                              48
Senegal                                                    6
Serbia                                                    92
Seychelles                                                 0
Sierra Leone                                               1
Singapore                                                117
Slovakia                                                  89
Slovenia                                                 108
Solomon Islands                                            1
Somalia                                                    1
South Africa                                             199
South Korea                                              104
Spain                                                    637
Sri Lanka                                                143
Sudan                                                     13
Suriname                                                   4
Swaziland                                                  3
Sweden                                                   349
Switzerland                                              411
Syrian Arab Republic                                      11
Taiwan                                                    93
Tajikistan                                                 5
Thailand                                                  62
The former Yugoslav Republic of Macedonia                  8
Timor-Leste                                                3
Togo                                                       6
Trinidad and Tobago                                        4
Tunisia                                                   41
Turkey                                                   393
Turkmenistan                                              10
Uganda                                                    28
Ukraine                                                  191
United Arab Emirates                                      76
United Kingdom of Great Britain and Northern Ireland    1594
United Republic of Tanzania                               18
United States of America                                5656
Uruguay                                                   45
Uzbekistan                                                26
Venezuela, Bolivarian Republic of...                      56
Viet Nam                                                 116
Yemen                                                      5
Zambia                                                     5
Zimbabwe                                                  10
Name: LanguageWantToWorkWith, dtype: int64

In [23]:
country_rsp = df['Country'].value_counts()
country_rsp.head()

United States of America                                13543
India                                                    6639
Germany                                                  5395
United Kingdom of Great Britain and Northern Ireland     4190
Canada                                                   2490
Name: Country, dtype: int64

In [24]:
python_df = pd.concat([country_rsp,country_uses_python ],axis='columns',sort=False)
python_df

,Country,LanguageWantToWorkWith
United States of America,13543,5656
India,6639,3094
Germany,5395,2212
United Kingdom of Great Britain and Northern Ireland,4190,1594
Canada,2490,1000
France,2328,962
Brazil,2109,823
Poland,1732,651
Netherlands,1555,572
Spain,1521,637
Italy,1514,658
Australia,1462,536
Russian Federation,1229,467
Turkey,1020,393
Sweden,1020,349
Switzerland,932,411
Austria,833,292
Israel,795,393
"Iran, Islamic Republic of...",723,315
Pakistan,711,325
Czech Republic,692,261
China,632,269
Belgium,626,253
Bangladesh,613,281
Ukraine,593,191
Romania,581,215
Mexico,574,286
Portugal,563,205
Greece,548,240
Denmark,547,168
Indonesia,537,218
Argentina,521,202
Nigeria,517,245
South Africa,493,199
Norway,479,170
Finland,468,185
Hungary,466,166
New Zealand,440,150
Egypt,400,170
Philippines,366,157
Bulgaria,364,124
Colombia,341,153
Japan,333,128
Ireland,332,131
Viet Nam,317,116
Sri Lanka,296,143
Slovenia,286,108
Serbia,282,92
Kenya,270,119
Taiwan,233,93
South Korea,229,104
Slovakia,229,89
Morocco,226,95
Singapore,226,117
Nepal,222,90
Lithuania,212,60
Malaysia,206,75
Chile,203,91
Croatia,192,61
Hong Kong (S.A.R.),184,90
Thailand,175,62
United Arab Emirates,165,76
Estonia,141,47
Peru,136,64
Belarus,136,48
"Venezuela, Bolivarian Republic of...",119,56
Saudi Arabia,116,48
Uruguay,106,45
Georgia,105,30
Bosnia and Herzegovina,103,39
Tunisia,101,41
Latvia,95,33
Armenia,93,33
Ghana,86,47
Uzbekistan,84,26
Dominican Republic,83,26
Ecuador,83,40
Costa Rica,76,37
Ethiopia,75,33
Republic of Korea,72,29
Lebanon,71,30
Kazakhstan,70,27
Azerbaijan,69,25
Afghanistan,69,25
Jordan,64,21
Uganda,63,28
Cyprus,61,24
Albania,59,16
Luxembourg,56,23
Guatemala,54,27
Iraq,54,17
Myanmar,53,18
The former Yugoslav Republic of Macedonia,51,8
El Salvador,45,20
Bolivia,44,26
Paraguay,42,18
Malta,39,16
Nomadic,37,12
Republic of Moldova,37,10
Algeria,36,20
Syrian Arab Republic,35,11
Cambodia,35,17
Cameroon,34,19
Palestine,34,16
Sudan,32,13
Cuba,31,13
Zimbabwe,30,10
Kosovo,29,10
Honduras,28,10
Panama,28,14
United Republic of Tanzania,28,18
Iceland,28,10
Madagascar,26,14
Jamaica,22,14
Kyrgyzstan,22,5
Mauritius,21,9
Qatar,20,12
Zambia,20,5
Rwanda,20,13
Kuwait,20,7
Montenegro,19,5
Mongolia,19,9
Nicaragua,18,6
Turkmenistan,16,10
Andorra,15,4
Côte d'Ivoire,14,6
Malawi,14,9
Bahrain,14,6
Yemen,14,5
Oman,13,8
Trinidad and Tobago,13,4
Libyan Arab Jamahiriya,13,6
Senegal,13,6
Angola,12,4
"Congo, Republic of the...",12,5
Somalia,12,1
Isle of Man,12,4
Maldives,12,4
Tajikistan,11,5
Benin,11,5
Mozambique,11,4
Mali,10,4
Togo,9,6
Swaziland,7,3
Democratic Republic of the Congo,7,5
Lao People's Democratic Republic,7,5
Barbados,6,3
Guyana,6,3
Botswana,6,3
Guinea,5,4
Namibia,5,1
Bhutan,5,2
Suriname,4,4
North Korea,4,1
Timor-Leste,4,3
Cape Verde,4,3
Bahamas,4,2
Niger,3,2
Belize,3,2
Saint Lucia,3,3
Chad,3,1
Haiti,3,3
Gambia,2,0
Mauritania,2,0
Liberia,2,1
Gabon,2,1
Palau,2,0
Papua New Guinea,2,1
Antigua and Barbuda,2,0
Lesotho,2,1
Fiji,2,1
Sierra Leone,2,1
San Marino,1,0
Burkina Faso,1,1
Brunei Darussalam,1,1
Monaco,1,1
Djibouti,1,0
Seychelles,1,0
Solomon Islands,1,1
Saint Kitts and Nevis,1,0

In [25]:
python_df.rename(columns={'Country':'NumOfRespondants','LanguageWantToWorkWith':'NumWorkedWithPython'},inplace=True)
python_df.head(5)

,NumOfRespondants,NumWorkedWithPython
United States of America,13543,5656
India,6639,3094
Germany,5395,2212
United Kingdom of Great Britain and Northern Ireland,4190,1594
Canada,2490,1000

In [26]:
python_df['PctKnowsPython'] = (python_df['NumWorkedWithPython']/python_df['NumOfRespondants'])*100
python_df.head(10)

,NumOfRespondants,NumWorkedWithPython,PctKnowsPython
United States of America,13543,5656,41.763273
India,6639,3094,46.603404
Germany,5395,2212,41.000927
United Kingdom of Great Britain and Northern Ireland,4190,1594,38.042959
Canada,2490,1000,40.160643
France,2328,962,41.323024
Brazil,2109,823,39.023234
Poland,1732,651,37.586605
Netherlands,1555,572,36.784566
Spain,1521,637,41.880342

In [27]:
python_df.sort_values(by='PctKnowsPython',ascending=False,inplace=True)
python_df.head(50)

,NumOfRespondants,NumWorkedWithPython,PctKnowsPython
Monaco,1,1,100.000000
Saint Lucia,3,3,100.000000
Suriname,4,4,100.000000
Brunei Darussalam,1,1,100.000000
Burkina Faso,1,1,100.000000
Solomon Islands,1,1,100.000000
Haiti,3,3,100.000000
Guinea,5,4,80.000000
Timor-Leste,4,3,75.000000
Cape Verde,4,3,75.000000
Democratic Republic of the Congo,7,5,71.428571
Lao People's Democratic Republic,7,5,71.428571
Togo,9,6,66.666667
Belize,3,2,66.666667
Niger,3,2,66.666667
Rwanda,20,13,65.000000
Malawi,14,9,64.285714
United Republic of Tanzania,28,18,64.285714
Jamaica,22,14,63.636364
Turkmenistan,16,10,62.500000
Oman,13,8,61.538462
Qatar,20,12,60.000000
Bolivia,44,26,59.090909
Cameroon,34,19,55.882353
Algeria,36,20,55.555556
Ghana,86,47,54.651163
Madagascar,26,14,53.846154
Singapore,226,117,51.769912
Bahamas,4,2,50.000000
Guatemala,54,27,50.000000
Botswana,6,3,50.000000
Sierra Leone,2,1,50.000000
Guyana,6,3,50.000000
Fiji,2,1,50.000000
Liberia,2,1,50.000000
Lesotho,2,1,50.000000
Papua New Guinea,2,1,50.000000
Barbados,6,3,50.000000
Gabon,2,1,50.000000
Panama,28,14,50.000000
Mexico,574,286,49.825784
Israel,795,393,49.433962
Hong Kong (S.A.R.),184,90,48.913043
Costa Rica,76,37,48.684211
Cambodia,35,17,48.571429
Sri Lanka,296,143,48.310811
Ecuador,83,40,48.192771
Nigeria,517,245,47.388781
Mongolia,19,9,47.368421
Peru,136,64,47.058824

In [28]:
python_df.loc['India']

NumOfRespondants       6639.000000
NumWorkedWithPython    3094.000000
PctKnowsPython           46.603404
Name: India, dtype: float64